.chirp-loading {
  font-size: 1.8rem;
  background-color: white;
  border-radius: 1.3rem;
  margin-top: 3rem;
  box-shadow: 14px 13px 43px 9px rgba(186, 178, 178, 0.25);
  position: relative;
  color: black;
  padding: 3rem 5rem 3rem 8rem;

  &_heading {
    height: 1.8rem;
    background-color: #fcf3d6;
    width: 15rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    border-radius: 1.3rem;
  }

  &_text {
    width: 80%;
    background-color: #fcf3d6;
    height: 8rem;
    border-radius: 1.3rem;
  }

  &_profile-picture {
    width: 7rem;
    height: 7rem;
    background-color: #fcf3d6;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-20%, -20%);
  }

  &_like-button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -25%);
    cursor: pointer;

    img {
      width: 3rem;
    }
  }
}
